@import '../../styles/main.scss';

.sort {
  outline: none;
  border: none;
  cursor: pointer;

  option {
    text-align: center;

    &[disabled] {
      background: none;
      color: $lightgray;
    }
  }
}
