@import './abstracts/base';

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $font-usual;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
button {
  padding: 0;
}
