// Fonts
$font-usual: 'Libre Franklin', sans-serif;
$font-logo: 'Libre Barcode 39 Text', cursive;

$fs-xxl: 4rem;
$fs-big: 2rem; //h1, logo...
$fs-xl: 1.5rem;
$fs-large: 1.25rem;
$fs-normal: 1rem; //regular text
$fs-small: 0.75rem;
$fs-xs: 0.5rem; //for star icon (rating)

// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$black-transparent-07: rgba(0, 0, 0, 0.7);
$black-transparent-03: rgba(0, 0, 0, 0.3);
$red: rgb(255, 0, 0);
$gray: rgb(128, 128, 128);
$lightgray: rgb(211, 211, 211);
