@import '../../common/styles/main.scss';

.items-price {
  flex: 0 1 25%;
  @include flex-column();
  height: fit-content;
  border: solid $black-transparent-07 4px;
  border-radius: 10px;
  overflow: hidden;

  &__header {
    display: flex;
    gap: 1em;
    padding: 0.5em;
    background-color: $black-transparent-07;
    color: $white;
  }

  &__title {
    margin: 0 auto;
    font-size: $fs-large;
  }

  &__container {
    @include flex-column();
    align-items: center;
    gap: 1em;
    padding: 0.5em;
  }

  &__products-count,
  &__total-price,
  &__total-price-discount {
    font-size: $fs-large;
  }

  &__total-price.discount-apply {
    text-decoration: line-through;
  }

  &__total-price-discount {
    color: $red;
  }

  &__promo-input {
    width: 95%;
    font-size: $fs-large;
    text-align: center;
  }

  &__buy-now {
    background-color: $gray;
    border-radius: 5px;
    font-size: $fs-large;
    color: $white;
  }
}
